html{
    font-family: Arial, Helvetica, sans-serif;
    color:#424242;
}

body{
    margin:0;
    overflow-y:scroll;
}

.page-header{
    width:200px;
    text-align: center;
    background-color: #abccff;
    background:linear-gradient(#abccff,#e6f1ff);
    border-bottom:rgb(0, 0, 0,0.2) 1px solid;
    border-right:rgb(0, 0, 0,0.2) 1px solid;
    border-radius: 0px 0px 10px 0px;
    box-shadow: 1px 1px 2px gray;
}

h2{
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size:2em;
}


/*.main{

}*/

.chart{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.table{
    border: 1px solid #fff;
    border-collapse: collapse;
    /*background: linear-gradient(rgb(177,145,169), rgb(177,193,206));*/
    border-radius:0.2em;
    margin: 20px 0;
    display:default;
    text-align: left;
    position: relative;
    border-collapse: collapse;
    max-width: 100%;
    table-layout: fixed;
    width:100%;
}


.table th{
    background:linear-gradient(rgb(85,96,142), rgb(106, 115, 163));
    /*white-space: nowrap;*/
    color: white;
    position: sticky;
    top: 0; 
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    max-width:30%;/*//////////////////////*/
    word-wrap: break-word;
}
 
.table th, .table td{
    border: 1px solid #fff;
    padding: 0.5em;
    text-overflow:ellipsis;
    overflow:hidden;
    /*width:min-content;*/
}
 
.table tr:nth-child(even) {
    background-color:rgb(230,230,230);
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background:white;
}

.styled-table thead tr {
    background-color: rgb(67, 111, 255);;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    font-family: 'Courier New', Courier, monospace;
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(67, 111, 255);;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: rgb(67, 111, 255);
}

.word{
    display:table;
    /*border-bottom: 1px dotted black;*/
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    font-size:1em;
    /*display:table-cell;*/
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 3em;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 16%;
    position:absolute;
    z-index: 1;
    pointer-events: none;
    font-size: 1.5em;
}

.tooltip .tooltextup {
    bottom: 1.5em;
    left: 50%;
    margin-left: -1.5em; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltextdown {
    top: 1.5em;
    left: 50%;
    margin-left: -1.5em; /* Use half of the width (120/2 = 60), to center the tooltip */
  }

.tooltip .tooltextdown::after {
    content: " ";
    position: absolute;
    top: -0.85em;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -0.5em;
    border-width: 0.5em;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip .tooltextup::after {
    content: " ";
    position: absolute;
    bottom: -0.85em; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -0.5em;
    border-width: 0.5em;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:hover{
    color:rgb(255, 255, 255);
    background-color:black;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.windowSwap{
    transition:opacity 1s;
    /*position:absolute;*/
}

@keyframes flash{
    from {box-shadow:  0px 0px 0px 0px red;
    }
    50%{
        box-shadow:  0px 0px 1px 3px red;
    }
    to{
        box-shadow:  0px 0px 0px 0px red;
    }
}

.flash{
    animation-name: flash;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}


.table2{
    border: 1px solid #aaa;
    border-collapse: collapse;
    border-radius:0.2em;
    margin: 20px 10px;
    text-align: left;
    position: relative;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 1em;
}

.table2 td, .table2 th{
    border: 1px solid #aaa;
    height:1.6em;
    text-align:center;
}

.table2 th{
    padding:0.2em 0.5em;
}

.bottomDock{
    position:fixed;
    bottom:0;
    right:0;
    background-color: rgb(75, 130, 255);
    padding:1em 2em;
    border-radius: 10px 0px 0px 0px;
    border: 1px solid rgb(67, 111, 255);
    box-shadow:-1px -1px 10px gray;
    border-right: none;
    border-bottom:none;
    text-align: center;
    /*transition: max-width 1s;*/
    width: 200px;
    z-index: 1;
    color:white;
    min-height:62px;
}

.bottomLeftDock{
    min-height:62px;
    position:fixed;
    bottom:0;
    left:0;
    background-color: rgb(75, 130, 255);
    padding:1em 2em;
    border-radius: 0px 10px 0px 0px;
    border: 1px solid rgb(67, 111, 255);
    box-shadow:-1px -1px 10px gray;
    border-left: none;
    border-bottom:none;
    text-align: center;
    /*transition: max-width 1s;*/
    width: 200px;
    z-index: 1;
    color:white;
}

/*.no{
    max-width:0;
}*/

.modal-table{
    display:none;
}

.ascii-header{
    text-align: center;
    text-decoration: underline;
    padding:20px;
}

.ebc-header{
    text-align: center;

    padding:20px;
}

.ebc-tbl{
    border-collapse: collapse;
    text-align:center;
    font-family:'Courier New', Courier, monospace;
}

.ebc-tbl th, .ebc-tbl td{
    border:1px solid rgb(200,200,200,0.7);
    padding:10px;
    width:5%;
}

.even1{
    background-color:rgb(0,0,0,0.1);
}

.even2{
    background-color:rgb(0,0,0,0.1);
}

.even1.even2{
    background-color: rgb(0, 0, 0,0.2);
}

.page{
    /*position:absolute;*/
    visibility:hidden;
    opacity:0;
    
}

.page.active{
    visibility: visible;
    opacity:1;
    transition:opacity 1s;
}

.page > .page-content{
    display:none;
}
.page.active > .page-content{
    display:block;
}
/*
.ebc-tbl {
    overflow: hidden;
    background: none;
  }
  
  .ebc-tbl td, .ebc-tbl th {
    padding: 10px;
    position: relative;
    outline: 0;
  }
  
  body:not(.nohover) .ebc-tbl tbody tr:hover {
    background-color: #77f;
  }
  
  .ebc-tbl td:hover::after,
  .ebc-tbl thead th:not(:empty):hover::after,
  .ebc-tbl  td:focus::after,
  .ebc-tbl thead th:not(:empty):focus::after { 
    content: '';  
    height: 10000px;
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    z-index: -1;
  }
  
  .ebc-tbl  td:hover::after,
.ebc-tbl  th:hover::after {
    background-color: #77f;
  }*/
  
  /*box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);*/

.btn{
    padding: 0.7em;
    margin: 0.25em;
    border-radius:0.4em;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    border: 1px solid rgba(0,0,0,0);/* !important;*/
    box-sizing:border-box;
}


.btn:hover{
    cursor:pointer;
}

.btn.prim{
    color: white;
    background-color:#6daffe;
    border-color: #6daffe;
}
.btn.prim:hover{
    background-color:#5fa4f8;
    border-color: #5fa4f8;
}
.btn.prim:active{
    background-color:#4a9cff;
    border-color: #4a9cff;
}

.btn.sec{
    color: white;
    background-color:#6daffe;
    border-color: #6daffe;
}
.btn.sec:hover{
    color: white;
    background-color:#6daffe;
    border-color: #6daffe;
}
.btn.sec:active{
    color: white;
    background-color:#6daffe;
    border-color: #6daffe;
}

.error-text{
    color:rgb(180,0,0);
    border:red solid 1px;
    padding: 0.5em;
    background:rgb(255,230,230);
    width:max-content;
}

.collapsible{
    transition: max-height 0.2s ease-in;
    overflow:hidden;
    max-height: 0px;
}

.tbl-container{
    width:100%;
    box-sizing:border-box;
    padding:20px;
    border-radius: 20px;
    background: #edf6ff;
    margin:10px 0;
    box-shadow:1px 1px 5px #437fc7;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.container{
    border-radius: 20px;
    border: 2px solid rgb(255,255,255,0.3);
    box-shadow:1px 1px 5px black;
    background-color: #6daffe;
    background: linear-gradient(#edf6ff,#ffffff);
    color:#424242;
    padding: 20px;
    width:max-content;
}


.container input{
    border-radius:5px;
}

select {
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #6daffe;
    color:white;
}

.err-border{
    border: 2px red solid;
}

hr{
    color: rgb(67, 111, 255);
}

